.flexStyle{
    display: flex;
    justify-content: center;
   
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* flex display makes it a flex container. Justify content center makes sure items are centered.
/* space between ensure theres even amount of space between items. Justify center makes sure theyre towards center of page */



/* this will be used for start html */
.orgNav{
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    text-align: center;
}

.orgSources{
    font-family: 'Courier New', Courier, monospace;
   list-style: none;
    text-align: center;
}

.orgText{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #6B7280;
    text-decoration: underline;
}
.orgHeaders{
    font-family: 'Courier New', Courier, monospace;
      background: #0B1220;   /* charcoal */
  color: #FFFFFF;        /* readable text on dark bg */
  padding: 16px 24px;    /* space around your title */
    text-align: center;
}

/* used for twine page */
.twineNav{
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;
}
.twineText{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.twineHeaders{
    font-family: 'Courier New', Courier, monospace;
      background: #0A192F;
    color: #FFFFFF;  
        /* readable text on dark bg */
  padding: 16px 24px;    /* space around your title */
    text-align: center;
}
/* used for visual novel page */
.renpyNav{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.renpyText{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.renpyHeaders{
    font-family: dejaVu Sans Mono, monospace;
      background: green;   
  padding: 16px 24px;    /* space around your title */
    text-align: center;
}
.picStyle{
     display: flex;
     flex-direction: column; 
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
    
}

/* quest page css */
.questNav{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.questheaders{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
             "Liberation Mono", "Noto Mono", "Courier New", monospace;
      background: beige;   /* maroon */      /* readable text on dark bg */
  padding: 16px 24px;    /* space around your title */
    text-align: center;
}

