.sheet{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    
}
.btnStyle{
   
  border: none;
  border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: beige
}
.headerStyle{
    color: tomato;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-style: italic;
}
.textLook{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;

}
